$gray:  hsl(240,2,12); // #1d1d1e
$dark:  hsl(240,2,10); // #19191a
$darker:hsl(240,2,9); // #161617

$lightRed: hsl(0,52,47); // #b53939
$red: 0;

$lighterGreen: hsl(128,52,47); // #39b54a
$lightGreen: hsl(130,49,42); // #37a048
$green: 0;

$lightBlue: rgb(53, 144, 255);
$blue: rgb(38, 135, 245);
