$dark100: white;
$dark200: #2f2f31;
$dark300: #29292b;
$dark400: #212122;
$dark500: #1a1a1b;
$dark600: #171718;
$dark700: #141415;
$dark800: #121213;
$dark900: #101011;

$accentLight: #39b94a;
$accent: #38aa4b;
$accentDark: #38a149;


$lightRed: hsl(0,52,47); // #b53939
$red: 0;

$lighterGreen: hsl(128,52,47); // #39b54a
$lightGreen: hsl(130,49,42); // #37a048
$green: 0;

$lightBlue: rgb(53, 144, 255);
$blue: rgb(38, 135, 245);
