@import "colors";

#modal__add-instance {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark800;
    z-index: 10;
}

#modal__add-instance-container {
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    height: 440px;
    padding: 20px;
}

#modal__add-instance-title {
    text-align: center;
    display: block;
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin: auto;
}

.modal__add-instance-field-container {
    box-sizing: border-box;
    display: table;
    margin: auto;
    padding: 10px;
    width: 600px;
}

.modal__add-instance-label {
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin: auto;
}

.modal__add-instance-input {
    box-sizing: border-box;
    color: white;
    outline: none;
    background-color: $dark900;
    border: 0;
    padding-left: 20px;
    height: 40px;
    width: 100%;
}

.modal__add-instance-input::placeholder {
    font-size: 15px;
    color: $dark200;
}

#modal__add-instance-input-submit-btn {
    font-size: 21px;
    margin: auto;
    margin-top: 35px;
    width: 200px;
    height: 70px;
    display: block;
}

#modal__add-instance-exit-btn {
    position: fixed;
    background-color: transparent;
    outline: none;
    border: 0;
    right: 0px;
    top: 0px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#modal__add-instance-exit-btn-icon {
    color: $lightRed;
    vertical-align: middle;
    margin: auto;
    width: 80px;
    height: 80px;
}

#modal__add-instance-game-path-container {
    width: 100%;
    display: inline-flex;
}

#modal__add-instance-game-path-btn {
    width: 40px;
    height: 40px;
    background-color: $dark900;
    vertical-align: middle;
    color:white;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}

#modal__add-instance-error-label {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $lightRed;
}
