@import "colors";

body {
    font-family: 'Lato', sans-serif;
    user-select: none;
	margin: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $dark;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: $darker;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $darker;  /* creates padding around scroll thumb */
}

* {
    cursor: inherit;
}

a {
    text-decoration: none;
    -webkit-user-drag: none;
}

a:-webkit-any-link {
    color:$lightBlue;
}

input {
    user-select: initial;
}

#app {
	background-color: $gray;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
}

#right-pane {
    flex-flow: column;
    flex: 1;
    display: flex;
}

#contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.unselectable-text {
    user-select: none;
}

.green-btn {
	border: 0;
	background-color: $lightGreen;
	color: white;
	font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 800;
	outline: none;
	cursor: pointer;
}

.red-btn {
	border: 0;
	background-color: $lightRed;
	color: white;
	font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 800;
	outline: none;
	cursor: pointer;
}
