@import "colors";

body {
	margin: 0;
}

#app {
	background-color: #1d1d1e;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
}

.unselectable-text {
    user-select: none;
}

.green-btn {
	border: 0;
	background-color: #37a048;
	color: white;
	font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 800;
	outline: none;
	cursor: pointer;
}
