@import "colors";

#navbar {
	background-color: $dark;
	width: 100%;
	height: 100px;
	flex: 1;
	display: flex;
}

#navbar-tab-container {
	margin: 0 20px 0 50px;
	width: 170px;
	height: 100%;
	display: grid;
    cursor: pointer;
}

#navbar-tab-text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 23px;
	color: white;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	margin-top: 35px;
	margin-bottom: 0;
    cursor: inherit;
}

#navbar-tab-line {
	display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    margin-top: auto;
}

#navbar-tab-container.active {
    background-color: rgba(57, 181, 74, 0.05);
    cursor: default;
}

#navbar-tab-container:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: default;
}

#navbar-tab-container.active > #navbar-tab-line {
    background-color: #39b54a;
}
