#optionsview__container {
    height: 100%;
    width: 85%;
    padding: 30px 0px;
    margin: auto;
    display: block;
}

#optionsview__remove-instance-btn {
    width: 200px;
    height: 70px;
    font-size: 20px;
    margin: auto;
    display: block;
}
