#title-label {
  display: table-cell;
  width: 250px;
  height: 100px;
  position: relative;
  top: 0;
  text-align: center;
  vertical-align: middle;
}

#title-label-main {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin: 0;
  vertical-align: middle;
}

#title-label-beta {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  vertical-align: middle;
}

#sidebar {
  width: 250px;
  flex: unset;
  background-color: #1a1a1c;
}

#add-instance-btn-wrapper {
  width: 250px;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: grid;
}

#add-instance-btn {
  height: 55px;
  width: 175px;
  margin: auto;
  border-radius: 35px;
  color: white;
  background-color: transparent;
  border: 2px solid #39b54a;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 800;
  outline: none;
}

#add-instance-btn:hover {
  background-color: #39b54a;
  transition-duration: 0.3s;
}

#instance-scroller-wrapper {
  width: 250px;
  position: absolute;
  background-color: #141416;
  top: 100px;
  bottom: 100px;
}

#instance-scroller {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#instance-scroller::-webkit-scrollbar {
  display: none;
}

#instance-item {
  display: grid;
  height: 75px;
  width: 80%;
  margin: auto;
}

#instance-item:hover:not(#no-instances > #instance-item) {
  background-color: #1a1a1c;
  cursor: pointer;
  transition-duration: 100ms;
}

#instance-separator {
  width: 75%;
  border-color: #303033;
}

.instance-span {
  margin: auto;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
}